// colors
$primary-color: #e7e7e7;
$secondary-color: #003399;
$tertiary-color: #3366CC;
$quaternary-color: #6699FF;
// fonts
$light-font-color: #e7e7e7;
$dark-font-color: #2C3539;
$main-font: 'Open Sans';

// mixins
@mixin label {
    margin: 0;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
}

// import bootstrap library
@import "ember-bootstrap/bootstrap";

// component style
@import 'common.scss';
@import 'login.scss';
@import 'tree-structure.scss';
@import 'dataset-upload.scss';
@import 'dataset-main.scss';
@import 'table.scss';
@import 'analysis.scss';
@import 'graph.scss';

