.dataset-header {
    border-bottom: 1px solid #cccccc;
    .dataset-header-information{
        padding-bottom: 20px;
        .dataset-description {
            max-height: 150px;
            overflow-y: auto;
        }
    }
}
.description-header {
    margin-top: 15px;
}

.dataset-content {
    .container-fluid {
        display:table;
        width: 100%;
        margin-top: -50px;
        padding: 50px 0 0 0; /*set left/right padding according to needs*/
        box-sizing: border-box;
    }

    .row {
        height: 100%;
        display: table-row;
    }
}

@mixin link-style ($color) {
    font-weight: 600;
    color: $color;
    a {
        padding: 0 5px;
        background-color: white;
        -webkit-transition: background .4s;
        transition: background .4s;
        &:hover {
            background-color: $primary-color;
        }

        &.active {
            background-color: $color;
            color: white;
        }
    }
}

.method {
    @include link-style(green);
}
.subset {
    @include link-style($tertiary-color);
}

.subset-information{
    border-bottom: 1px solid #cccccc;

    .subset-basic-information {
        margin-top: 10px;
    }

    .subset-navigation {
        margin-top: 20px;
        .btn {
            background-color: $primary-color;
            color: $dark-font-color;
            margin-bottom: -1px;
            margin-right: 5px;
            &:hover { background-color: darken($primary-color, 10%); }

            &.active {
                background-color: $tertiary-color;
                color: white;
                &:hover { background-color: darken($tertiary-color, 10%); }
            }

            &.edit {
                color: white;
                background-color: lighten($secondary-color, 10%);
                &:hover { background-color: $secondary-color; }
            }
        }
    }
}

@media (max-width: 767px) {
    .subset-information{
        border-left: 0px solid;
    }
}

.new-subset {
    label { @include label; }
    .new-subset-information { margin-bottom: 10px; }
    .warning-content {
        margin-bottom: 5px;
    }
}

.method-selection {
    display: block;
    height: 250px;
    margin: -1px;
    border: 1px dashed $primary-color;
    text-align: center;
    -webkit-transition: background .4s;
    transition: background .4s;
    color: $tertiary-color !important;

    &:hover {
        background-color: $primary-color;
        color: $secondary-color !important;
    }

    .content {
        display: inline-block;
        margin: 89px 0;
    }
}