#database-container a:hover { background-color: $quaternary-color; }

@mixin dataset-square {
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
    width: 100%;
    font-size: 16px;
    -webkit-transition: .4s;
    transition: .4s;
}

.dataset {
    @include dataset-square;
    color: white;
    background-color: $quaternary-color;
    &:hover { background-color: darken($quaternary-color, 10%); }
    .fa {
        margin: 20px;
        font-size: 40px;
    }
    &.loading {
        background-color: lighten($quaternary-color, 10%);
        &:hover { background-color: lighten($quaternary-color, 10%); }

    }
    &.add-new {
        border: 2px dashed $tertiary-color;
        padding: 8px;
        height: 166px;
        background-color: white;
        color: $tertiary-color;
        &:hover {
            border: 2px solid $tertiary-color;
            background-color: lighten($quaternary-color, 20%);
        }
    }

    .dataset-label {
        font-weight: 400;
        text-transform: uppercase;
        margin-bottom: 4px;
    }
}

.dropzone {
    @include dataset-square;
    padding: 5% 0;
    margin: 20px 0;
    border: 2px dashed $tertiary-color;
    label { margin-bottom: 0; }
    #upload-dataset { font-weight: 600; }

    .progress {
        width: 70%;
        border-radius: 0px;
        margin: auto;
        .progress-bar { border-radius: 0px; }
    }
}

.dataset-field-list {

    .dataset-statistics {
        margin-top: 10px;
        margin-bottom: 15px;
    }

    .dataset-label,
    .dataset-description {
        margin: 10px 0;
    }

    label { @include label; }

    .field.type select {
        width: 40%;
        margin: auto;
    }
}