<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="loading">
        {{fa-icon 'sync-alt' spin=true fixedWidth=true class="page-loader"}}
        <p class="text-center">
          Retrieving subset analysis report...
        </p>
      </div>
    </div>
  </div>
</div>
