{{#each model.subset.usedBy as |method|}}
  {{#if method.analysisAppropriate}}
    {{
      analysis-method
      method=method
      subset=model.subset
      dataset=model.dataset
    }}
  {{/if}}
{{/each}}


{{! analysis selection button }}
<div class="row">
  <div class="col analysis-selector">
    <a class="analysis-selector__link"
      data-toggle="modal" data-target="#select-analysis-modal">

      <div class="analysis-selector__link__content">
        {{fa-icon 'plus' class="analysis-selector__link__content__icon" }}
        <p class="analysis-selector__link__content__label">Select analysis method</p>
      </div>{{! analysis-selector__link__content }}

    </a>{{! analysis-selector__link }}
  </div>{{! col }}
</div>{{! row }}


{{! method selection modal }}
{{
  method-selection
  id="select-analysis-modal"
  dataset=model.dataset
  startAnalysis=(route-action 'startAnalysis')
  startActiveLearning=(route-action 'startActiveLearning')
}}

{{outlet}}