{{#each model.subset.usedBy as |method|}}
  {{#if method.analysisAppropriate}}
    {{
      analysis-method
      method=method
      subset=model.subset
      dataset=model.dataset
    }}
  {{/if}}
{{/each}}

{{! analysis selection button }}
<div class="row">
  <div class="col analysis-selector">
    <a class="analysis-selector__link"
      data-toggle="modal" data-target="#select-analysis-modal">
      <div class="analysis-selector__link__content">
        <i class="fa fa-plus analysis-selector__link__content__icon"></i>
        <p class="analysis-selector__link__content__label">Select analysis method</p>
      </div>
    </a>
  </div>{{! col }}
</div>{{! row }}

{{! method selection modal }}
{{
  method-selection
  id="select-analysis-modal"
  dataset=model.dataset
  startAnalysis=(route-action 'startAnalysis')
  startActiveLearning=(route-action 'startActiveLearning')
}}

{{outlet}}