{{#each model.subset.usedBy as |method|}}
  {{#if method.analysisAppropriate}}
    {{ 
      analysis-method
      method=method
      subset=model.subset
      dataset=model.dataset
      subsetCreationParams=model.subsetCreationParams
    }}
  {{/if}}
{{/each}}

{{! analysis selection button }}
<div class="row">
  <div class="col-lg-12 analysis">
    <a class="method-selection" data-toggle="modal"
      data-target="#select-analysis-modal">
      <div class="content">
        <i class="fa fa-plus fa-3x"></i>
        <p>Select method analysis</p>
      </div>{{! .content }}
    </a>
  </div>{{! .col-lg-12 }}
</div>{{! .row }}

{{! method selection modal }}
{{
  method-selection
  id="select-analysis-modal"
  dataset=model.dataset
  action=(route-action 'startAnalysis')
}}

{{! subset creation modal }}
{{
  create-subset-modal
  id="subset-create-modal"
  parameters=model.subsetCreationParams
  createSubset=(route-action "createSubset")
}}

{{outlet}}