{{ 
  document-table
  documents=model.documents
  metadata=model.metadata
  changeQuery=(route-action 'changeQuery')
  changeLimit=(route-action 'changeLimit')
  changePage=(route-action 'changePage')
  sortByField=(route-action 'sortByField')
  createSubset=(route-action 'createSubset')
}}

<div class="row mt-5">
  <div class="col">
    <h5>Query Aggregates</h5>
    {{
      analysis-method-aggregate-subset
      method=model.method
    }}
  </div>
</div>
{{outlet}}