// common styles for all views
html, body {
    height: 100%;
    font-family: $main-font;
    font-weight: 300;
    font-size: 14px;
}

body {
    padding-top:50px;
    & > .ember-view { height: 100% }
}

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
}

a {
    text-decoration: none;
    cursor: pointer;
    &:active, &:hover, &:focus {
        text-decoration: none;
    }
}

#header .navbar {
    margin-bottom: 0px;
    border: white solid 0px;
    background-color: $secondary-color;
    .navbar-brand {
        color: $light-font-color;
        font-family: $main-font;
    }
    .navbar-nav {
        font-size: 16px;
        a {
            display: block;
            padding: 1em 1em 1em 1em;
            outline: 0;
            color: $light-font-color;
            text-transform: uppercase;
            letter-spacing: 1px;
            -webkit-transition: background .4s;
            transition: background .4s;
            cursor: pointer;
            & > i {
                margin-right: 10px;
                font-size: 20px;
            }
        }
        a:hover {
            background-color: rgba($quaternary-color,.4);
        }
    }
}

.center {
    text-align: center;
}

.medium-size {
    font-size: 16px;
}

.btn.pull-right {
    margin-left: 10px;
}