// common styles for all views
html, body {
    height: 100%;
    font-family: $main-font;
    font-weight: 300;
    font-size: 14px;
}

body {
    padding-top:50px;
    & > .ember-view { height: 100% }
}

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
}

a {
    text-decoration: none;
    cursor: pointer;
    &:active, &:hover, &:focus {
        text-decoration: none;
    }
}

#header .navbar {
    margin-bottom: 0px;
    border: white solid 0px;
    background-color: $secondary-color;
    .navbar-brand {
        color: $light-font-color;
        font-family: $main-font;
    }
    .navbar-nav {
        font-size: 16px;
        a {
            display: block;
            padding: 1em 1em 1em 1em;
            outline: 0;
            color: $light-font-color;
            text-transform: uppercase;
            letter-spacing: 1px;
            -webkit-transition: background .4s;
            transition: background .4s;
            cursor: pointer;
            & > i {
                margin-right: 10px;
                font-size: 20px;
            }
        }
        a:hover {
            background-color: lighten($secondary-color, 10%);
        }
    }

    .navbar-toggle {
        border-radius: 0px;
    }
}

.modal-content {
    border-radius: 0px;
}

.uppercase {
    text-transform: uppercase;
}

.warning {
    color: red;
}

.center {
    text-align: center;
}

.medium-size {
    font-size: 16px;
}

.checkbox {
    width: 20px;
    position: relative;
    margin: 0 5px;
    margin-top: -8px;
    margin-right: -5px;


    input[type=checkbox] {
        display: none;
    }

    input[type=checkbox]:checked + label:after {
        opacity: 1;
    }

    label {
        cursor: pointer;
        position: absolute;
        padding: 0px;
        width: 20px;
        height: 20px;
        top: 0;
        left: 0;
        border: 1px solid darken($primary-color, 20%);
        border-radius: 3px;

        &:hover::after {
            opacity: 0.5;
        }

        &:after {
            opacity: 0;
            content: '';
            position: absolute;
            width: 10px;
            height: 6px;
            background: transparent;
            top: 5px;
            left: 5px;
            border: 3px solid #333;
            border-top: none;
            border-right: none;
            transform: rotate(-50deg);
        }
    }
}

.btn {
    border-radius: 0px;
    border: 0px solid;

    &.btn-primary {
        background-color: $secondary-color;
        -webkit-transition: background .4s;
        transition: background .4s;
        &.disabled:hover { background-color: $secondary-color; }
        &:hover {
            background-color: darken($secondary-color, 10%);
        }
    }

    &.btn-secondary {
        color: white;
        background-color: $quaternary-color;
        -webkit-transition: background .4s;
        transition: background .4s;
        &.disabled:hover { background-color: $quaternary-color; }
        &:hover {
            background-color: darken($quaternary-color, 10%);
        }
    }

    &.btn-tertiary {
        color: $dark-font-color;
        background-color: $primary-color;
        -webkit-transition: background .4s;
        transition: background .4s;
        &.disabled:hover { background-color: $primary-color; }

        &.active {
            background-color: darken($primary-color, 20%);
            &:hover { background-color: darken($primary-color, 20%); }
         }

        &:hover {
            background-color: darken($primary-color, 10%);
        }
    }

    &.pull-right {
        margin-left: 10px;
    }
}
