$wordcloud-font: 'Passion One';

$height: 250px;

.method-selection {
    display: block;
    height: $height;
    margin: -1px;
    margin-top: 30px;
    border: 1px dashed $primary-color;
    text-align: center;
    -webkit-transition: background .4s;
    transition: background .4s;

    &:hover {
        background-color: $primary-color;
        color: $secondary-color;
    }

    .content {
        display: inline-block;
        margin: 89px 0;
    }
}

.graph {
    width: 100%;
    height: $height;

    &.wordcloud {
        margin: -1px; // for border space
        border: 1px solid $primary-color;
        font-weight: 500;
        text.small { fill: darken($primary-color, 35%); }
        text.medium { fill: $tertiary-color; }
        text.large { fill: $dark-font-color; }
    }

    &.histogram {
        .percent {
            rect {
                fill: $tertiary-color;
            }
            .frequency {
                font: 10px $main-font;
                cursor: default;
            }
        }

        .percentSumOutline,
        .percentSum rect {
            fill: darken($primary-color, 2%);
        }

        .domain {
            stroke: $dark-font-color;

        }
        .tick {
            line { stroke: $dark-font-color; }
            text { font-family: $main-font; }
        }

    }
}

/**************************************
 * analysis results
 *************************************/
.clustering {
    .graph { height: calc(#{$height} - 100px); }
}

/**************************************
 * placeholder style
 *************************************/

 @keyframes pulse {
    0% { background-color: lighten($primary-color, 5%); }
    50% { background-color: $primary-color; }
    100% { background-color: lighten($primary-color, 5%); }
}

.placeholder {
    animation: pulse 2s infinite ease-in-out;
    &.field-title     { width: 144px; height: 13px; }
    &.document-number { width: 120px; height: 13px; }
    .cluster-header & { width: 104px; height: 19px; }
    &.subset-button   { width: 114px; height: 31px; }


}