.document-table {
    .table-options {
        padding-top: 40px;
        padding-bottom: 10px;
        span {
            margin: 4px 0;
            display: inline-block;
            select { width: 60px; }
        }
    }

    .table {
        tbody > tr {
            &.selected {
                background-color: $primary-color;
            }

            & > td { vertical-align: middle; }
        }

        thead > tr > th {
            border-top: 1px solid $quaternary-color !important;
            border-bottom: 2px solid $quaternary-color;
            vertical-align: middle;
            color: $quaternary-color;
        }
    }

    .table-pagination {
        width: 100%;
        margin-bottom: 50px;

        .document-display-info {
            margin: 6px 0;
        }

        .pull-center {
            text-align: center;
        }
    }
}

