.document-table {
    .table-options {
        padding-top: 40px;
        padding-bottom: 10px;
        span {
            margin: 4px 0;
            display: inline-block;
            select { width: 60px; }
        }
    }

    .table {
        tbody > tr {
            &.selected {
                background-color: $primary-color;

                & + .document-information-row td,
                &:hover + .document-information-row td {
                    background-color: $primary-color !important;
                }

            }

            &:hover + .document-information-row td {
                background-color: #f5f5f5 !important;
            }

            & > td {
                vertical-align: middle;
                border-top: 0px !important;
            }

            .clickable {
                cursor: pointer;
            }
        }

        .document-information-row {
            &:hover td { background-color: white; }

            td {
                padding: 0px !important;
                border-bottom: 1px solid #dddddd;
                .document-information {
                    margin: 5px;
                }
            }
        }

        thead > tr > th {
            border-top: 1px solid $quaternary-color !important;
            border-bottom: 2px solid $quaternary-color;
            vertical-align: middle;
            color: $quaternary-color;
        }
    }

    .table-pagination {
        width: 100%;
        margin-bottom: 50px;

        .document-display-info {
            margin: 6px 0;
        }

        .pull-center {
            text-align: center;
        }
    }
}

