<main role="main">
    <!-- Website header -->
    {{ website-header }}
    {{ outlet }}
</main>

<footer class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="offset-lg-4 col-lg-4 text-center">
        <p class="copyright">© Copyright 2018 AILAB JSI. All Rights Reserved.</p>
      </div>
    </div>
  </div>
</footer>

<!-- notification container -->
{{ ember-notify closeAfter=10000 }}
