<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 offset-lg-1 col-lg-10">

      <!-- title -->
      <div class="row">
        <div class="col-sm-12">
          <h2 class="description-header">Datasets</h2>
          <p class="medium-size">Upload or select a dataset</p>
        </div>
      </div>

      <!-- datasets list -->
      <div id="datasets-container">
        <div class="row">
          <div class="col-sm-12">
            <div class="row">

              <!-- Add new dataset -->
              <div class="col-xs-6 col-sm-4 col-lg-2">
                <!-- Button trigger modal -->
                {{#link-to 'dataset-upload'}}
                  <div class="dataset add-new">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                    <p>add new dataset</p>
                  </div>
                {{/link-to}}
              </div>

              {{#each model as |dataset|}}
                <!-- Add new dataset -->
                {{ dataset-instance dataset=dataset }}
              {{/each}}

            </div><!-- .row -->
          </div>
        </div>

      </div><!-- .datasets-container -->

    </div><!-- .col-sm-12.offset-lg-1.col-lg-10 -->
  </div><!-- .row -->
</div><!-- .container-fluid -->

{{outlet}}