<div class="container-fluid mt-5">
  <div class="row">
    <div class="offset-md-1 col-md-10">
      <h4>Server Error</h4>
      
      <p>
        We sincerely apologize for what just went wrong. We will look into this issue.<br>
        In the meantime please return to your {{#link-to 'datasets'}}datasets{{/link-to}} page and 
        try again.
      </p>

    </div>
  </div>
</div>