<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="loading">
        <i class="page-loader fa fa-hourglass-o fa-spin fa-3x fa-fw"></i>
      </div>
    </div>
  </div>
</div>
