<div class="container">
  <div class="row">
    <div class="offset-sm-3 col-sm-6 offset-md-4 col-md-4">

      <div class="login-options">
        <h2 class="login-options__header">Login</h2>
        <a href="{{model.google-authentication}}" class="btn login-options--google">
          <img src="images/login/g-logo.png" alt="google logo" height="40" width="40">
          <span class="login-options__text">Sign in with Google</span>
        </a>

        <a href="{{model.twitter-authentication}}" class="btn login-options--twitter">
          {{fa-icon 'twitter' prefix='fab' pull='left'}}
          <span class="login-options__text">Sign in with Twitter</span>
        </a>
      </div>

    </div>
  </div>
</div>

{{outlet}}