<h5>Labelled Documents</h5>
{{
  document-table
  documents=documentsTable
  metadata=metadata
  changeLimit=(action 'changeLimit')
  changePage=(action 'changePage')
  sortByField=(action 'sortByField')
}}