{{! empty data table }}
{{!-- <td></td> --}}

{{! document values content }}
<td colspan="{{numberOfColumns}}">

  <div class="collapse document-attributes" id="{{collapseId}}">

    {{! Fill the container with documents }}
    <div class="document-info-container">
      {{#each documentValues as |value|}}

        <div class="document-attribute">
          <div class="aggregate__title">{{value.field}}</div>
          <div class="aggregate__value">
            {{{if value.value value.value '(not available)'}}}
          </div>
        </div>

      {{/each}}
    </div>{{! document-info-container }}

  </div>{{! document-attributes }}
</td>