<div class="analysis__header">{{header}} Overview</div>

<div class="analysis__container">

  <div class="row">
    {{#each aggregates as |aggregate|}}
      <div class="{{concat aggregate.columnlg ' ' aggregate.columnsm}}">
        {{ component
            (concat "aggregate-" aggregate.type)
            field=aggregate.field
            distribution=aggregate.distribution
        }}
      </div>
    {{/each}}
  </div>{{! row }}

</div>{{! analysis__container }}