<div class="row">

  {{!-- <div class="col-lg-12">
    <h6>Subset Tree Structure</h6>
    {{ graph-radial-tree subset=subset usedBy=subset.usedBy }}
  </div> --}}

  {{#each aggregates as |aggregate|}}
    <div class="{{concat aggregate.columnlg ' ' aggregate.columnsm}}">
      {{ component
          (concat "aggregate-" aggregate.type)
          field=aggregate.field
          distribution=aggregate.distribution
      }}
    </div>
  {{/each}}

</div>
