<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3">
        {{#each subsets as |subset|}}
          {{subset.label}}
        {{/each}}
    </div>
    <div class="col-sm-9">
      {{yield}}
    </div>
  </div>
</div>
