<!-- Website header -->
{{ website-header }}

<div class="container-fluid wrapper">

  <div class="row">
    <div class="col-xs-12 col-sm-offset-1 col-sm-10">
      <!-- The content of the website -->
      {{outlet}}
    </div>
  </div>

</div><!-- .container-fluid -->
