<div class="container-fluid">
  <!-- Navigation bar top -->
  <a class="navbar-brand">InfoMiner</a>

  <!-- Brand and toggle get grouped for better mobile display -->
  <button type="button" class="navbar-toggler" type="button" data-toggle="collapse"
    data-target="#website-header" aria-controls="website-header" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="website-header">

    <ul class="navbar-nav mt-auto mr-auto">
      <li class="nav-item">
        {{#link-to "datasets" class="nav-link btn rounded"}}
          {{fa-icon 'database' fixedWidth=true }} datasets
        {{/link-to}}
      </li>
    </ul>

  </div><!-- .navbar-collapse -->
</div>
{{yield}}