.analysis-modal {
    .method-selection-container {
        margin-bottom: 10px;
    }

    .method-selection-label {
        font-weight: 400;
        margin-right: 5px;
        &.parameter {
            font-weight: 400;
            font-size: 12px;
            margin-bottom: 2px;
        }
    }

    .method-description {
        text-align: justify;
    }

    #analysis-warning {
        color: red;
        font-weight: 400;
    }
}

.feature-selection {
    width: 100%;
    height: 8px;
    text-align: right;
    border-bottom: 1px solid $tertiary-color;
    line-height: 0.1em;
    margin: 10px 0 0;
    color: $tertiary-color;
    font-size: 12px;

    span {
        background:white;
        padding: 0 5px 0 7px;
        margin-right: 10px;
        height: 0px;

        i {
            border-radius: 50%;
            padding: 2px;
            cursor: pointer;
            &:hover { background-color: $primary-color; }
            &.rotate {
                -webkit-transition: all .2s linear;
                -moz-transition: all .2s linear;
                transition: all .2s linear;
                &.left {
                    -ms-transform: rotate(90deg);
                    -moz-transform: rotate(90deg);
                    -webkit-transform: rotate(90deg);
                    transform: rotate(90deg);
                }
            }
        }
    }
}

.field-features {
    font-size: 12px;
    vertical-align: middle;
    .include-field label.include-label { margin: 1px 5px 2px 0; }

    .field-feature {
        padding: 1px 0 4px;
        color: $quaternary-color;
        text-transform: capitalize;
        font-weight: 400;
        &.warning {
            font-weight: 300;
            text-transform: none;
            color: $font-color-dark;
            b { font-weight: 400; }
        }
    }
}

@mixin analysis-border {
    border: 1px solid #e6e6e6;
}

// analysis results
.analysis {
    margin: 10px auto;

    .analysis-component {
        padding: 10px;
        background-color: white;
        @include analysis-border;
    }

    .parameter-label { font-weight: 500; }
    .analysis {
        margin-top: 30px;
        h3 {
            border-bottom: 1px solid #cccccc;
            color: green;
            @include collapse-toggle(green, 20px);
        }

        .clusters .cluster-content {
            margin: 15px auto;
            @include analysis-border;
            .cluster-header {
                color: $secondary-color;
                margin-bottom: 0px;
                @include collapse-toggle($secondary-color, 19px);
                .edit-cluster-label {
                    display: none;
                    &.show { display: inline-block; }

                }
            }
            .cluster-metadata {
                margin-left: 25px;
                margin-bottom: 0px;
            }

            .cluster-aggregates {
                margin-top: 1em;
            }
        }
    }
}