// colors
$primary-color: #e6e6e6;
$secondary-color: #003399;
$tertiary-color: #3366CC;
$quaternary-color: #6699FF;
// fonts colors
$light-font-color: #e7e7e7;
$font-color-dark: #2C3539;
$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Open Sans', sans-serif;


// mixins
@mixin component-pulse ($color, $size) {

    @keyframes loading-pulse {
        0% {
          -moz-box-shadow: 0 0 0 0 rgba($color, 0.6);
          box-shadow: 0 0 0 0 rgba($color, 0.6);
        }
        70% {
            -moz-box-shadow: 0 0 0 5px rgba($color, 0);
            box-shadow: 0 0 0 5px rgba($color, 0);
        }
        100% {
            -moz-box-shadow: 0 0 0 0 rgba($color, 0);
            box-shadow: 0 0 0 0 rgba($color, 0);
        }
    }

    .loading-pulse {
        width: $size;
        height: $size;
        padding: 0px;
        margin: auto;
        display: inline-block;
        border-radius: 50%;
        background-color: $color;
        box-shadow: 0 0 0 $color;
        animation: loading-pulse 2s infinite;
    }
}


// import bootstrap library
@import "ember-bootstrap/bootstrap";

// component style
@import 'common.scss';
@import 'checkbox.scss';
@import 'login.scss';
@import 'table.scss';
@import 'graph.scss';

@import 'modal-styles.scss';
@import 'tree-structure.scss';

@import 'subset-report.scss';
@import 'subset-analysis.scss';

@import 'active-learning.scss';

@import 'dataset-report.scss';
@import 'dataset-upload.scss';
