// colors
$primary-color: #e6e6e6;
$secondary-color: #003399;
$tertiary-color: #3366CC;
$quaternary-color: #6699FF;
// fonts colors
$light-font-color: #e7e7e7;
$font-color-dark: #2C3539;
$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Open Sans', sans-serif;

// import bootstrap library
@import "ember-bootstrap/bootstrap";

// component style
@import 'common.scss';
@import 'checkbox.scss';
@import 'login.scss';
@import 'table.scss';
@import 'graph.scss';

@import 'modal-styles.scss';
@import 'tree-structure.scss';

@import 'subset-report.scss';
@import 'subset-analysis.scss';

@import 'active-learning.scss';

@import 'dataset-report.scss';
@import 'dataset-upload.scss';
