html {
    position: relative;
    min-height: 100%;
}

// common styles for all views
html, body {
    font-family: $font-primary;
    font-weight: 200;
    font-size: 13px;
    color: $font-color-dark;
}

body {
    padding-top: 50px;
    & > .ember-view {
        main {
            padding-bottom: 120px;
        }
    }
}

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    margin-bottom: 6px;
}

a {
    text-decoration: none;
    cursor: pointer;
    &:active, &:hover, &:focus { text-decoration: none; }
}

/**************************************
 * Navigation bar
 *************************************/

@mixin navbar-link {
    &:hover,
    &:focus,
    &:active {
        color: $light-font-color;
        background-color: lighten($secondary-color, 10%);
    }
    color: $light-font-color;
    display: block;
    padding: 15px 1em;
    outline: 0;
    text-transform: uppercase;
    -webkit-transition: background .4s;
    transition: background .4s;
    cursor: pointer;
    line-height: 1.45;
    & > i {
        margin-right: 10px;
        font-size: 16px;
    }
}

.navbar {
    margin-bottom: 0px;
    border: 0px;
    padding: 0px 14px;
    background-color: $secondary-color;

    .navbar-brand {
        cursor: default;
        color: $light-font-color !important;
        font-family: $font-primary;
        font-weight: 400;
        &:hover { color: $light-font-color; }
    }
    .navbar-nav {
        font-size: 14px;
        font-weight: 400;
    }
    .nav-item {
        a {
            @include navbar-link;
            &.active { background-color: lighten($secondary-color, 10%); }
        }
        &.user-info {
            &.show > a { background-color: lighten($secondary-color, 10%); }
            & > a {
                @include navbar-link;
                text-transform: none;
                padding: 10px 1em;
                img {
                    border-radius: 50%;
                    margin-right: 5px;
                }
            }
        }
    }


    .navbar-toggler {
        border-radius: 0px;
        color: $light-font-color;
    }
    .dropdown-menu {
        border: 0px;
        border-radius: 0px;
        background-color: $quaternary-color;
        padding: 0px;
        margin: 0px;
        width: 100%;
        a {
            color: $light-font-color;
            text-transform: none;
            padding: 10px 1em;
            &:hover {
                color: $light-font-color;
                background-color: darken($quaternary-color, 10%);
            }
        }
    }
}

p.modal-subtitle { margin-bottom: 0px; }
.modal-content { border-radius: 0px; }

/**************************************
 * Custom checkbox style - component 'checkbox-select'
 *************************************/

.checkbox {
    width: 20px;
    height: 20px;
    position: relative;
    margin: auto;

    input[type=checkbox] {
        display: none;
    }

    input[type=checkbox]:checked + label:after {
        opacity: 1;
    }

    label {
        cursor: pointer;
        padding: 0px;
        top: 0;
        left: 0;
        border: 1px solid darken($primary-color, 20%);
        border-radius: 3px;
        margin: 0px;
        display: inline;
        padding-right: 18px;

        &:hover::after { opacity: 0.5; }

        &:after {
            opacity: 0;
            content: '';
            position: absolute;
            width: 10px;
            height: 6px;
            background: transparent;
            top: 5px;
            left: 5px;
            border: 3px solid #333;
            border-top: none;
            border-right: none;
            transform: rotate(-50deg);
        }
    }
}

/**************************************
 * Global button styles
 *************************************/

.btn {
    border-radius: 0px;
    border: 0px solid;

    &.disabled { cursor: not-allowed; }
    &:focus, &:active {
        outline: none !important;
        box-shadow: none;
    }

    @mixin button-type($color) {
        background-color: $color;
        -webkit-transition: background .4s;
        transition: background .4s;
        &.disabled:hover { background-color: $color; }
        &.active {
            background-color: darken($color, 20%);
            &:hover { background-color: darken($color, 20%); }
        }
        &:hover { background-color: darken($color, 10%); }
    }

    &.btn-primary {
        @include button-type($secondary-color);
    }

    &.btn-secondary {
        color: white;
        @include button-type($quaternary-color);
    }

    &.btn-tertiary {
        color: $font-color-dark;
        @include button-type($primary-color);
    }

    &.pull-right { margin-left: 10px; }
}

/**************************************
 * Input and label style
 *************************************/

input, select, textarea {
    border-radius: 0 !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    resize: none;
}

/**************************************
 * Loading
 *************************************/

.loading {
    padding-top: 18%;
    padding-bottom: 18%;
    color: $secondary-color;
    text-align: center;
}

.ember-notify-default {
    border-radius: 0px;
    .ember-notify {
        color: white;
        border: 0px solid;
        background-color: $font-color-dark;
        a { color: white; }
        .notification {
            .label {
                text-transform: uppercase;
                font-weight: bold;
                color: $quaternary-color;
            }
        }
    }
}

p.message {
    margin-bottom: 0px;
}

/**************************************
 * Footer
 *************************************/

 .footer {
    position: absolute;

    bottom: 0;
    width: 100%;
    margin-bottom: 10px;

    background-color: transparent;
    color: $font-color-dark;
    border: none;
}


/**************************************
 * Helper classes
 *************************************/

.uppercase { text-transform: uppercase; }

.warning { color: red; }

.center { text-align: center; }

.medium-size { font-size: 16px; }

.highlight-text-only { font-weight: 600; }

.bottom-space { margin-bottom: 10px; }

.highlight {
    background-color: darken($primary-color, 2%);
    font-weight: 600;
    padding: 0px 2px;
}

#go-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
}

.form-control {
    &.editing {
        padding: 2px 0.75rem;
        width: fit-content;
        display: inline-block;
        line-height: 1 !important;
    }
}

.fa.edit { cursor: pointer; }
.confirm-editing { color: green; }
.cancel-editing { color: darken($primary-color, 15%); }

input.invalid,
input:focus.invalid { border: 1px solid red; }
.field-warning {
    color: red;
    height: 10px;
}