$wordcloud-font: 'Passion One';
$height: 250px;

.graph {
    width: 100%;
    height: $height;

    &.wordcloud {
        border: 1px solid $primary-color;
        font-weight: 500;
        text.small  { fill: darken($primary-color, 35%); }
        text.medium { fill: $tertiary-color; }
        text.large  { fill: $font-color-dark; }
    }

    &.timeline {

        .domain { stroke: $font-color-dark; }
        .tick {
            line { stroke: $font-color-dark; }
            text { font-family: $font-primary; }
        }
    }

    &.histogram {
        .percent {
            rect { fill: $tertiary-color; }
            .frequency {
                font: 9px $font-primary;
                cursor: default;
            }
        }

        .percentOutline { fill: darken($tertiary-color, 2%); }

        .domain { stroke: $font-color-dark; }
        .tick {
            line { stroke: $font-color-dark; }
            text { font-family: $font-primary; }
        }
    }

    &.radial-tree {
        height: 2.5*$height;

        .node {
            text { font: 10px $font-primary; }

            foreignObject {
                cursor: move;
                body {
                    background-color: transparent;
                    .description {
                        font: 11px $font-primary;
                        .title { font-weight: 600; }
                    }
                }
            }

            &.subset circle { fill: $tertiary-color; }
            &.method circle { fill: green; }
        }

        .node-internal {
            circle { fill: #555; }
            text { text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff; }
        }

        .link {
            fill: none;
            stroke: #555;
            stroke-opacity: 0.4;
            stroke-width: 1.5px;
        }
    }

}

/**************************************
 * analysis results
 *************************************/
.clustering .graph { height: calc(#{$height} - 50px); }

/**************************************
 * placeholder style
 *************************************/

 @keyframes pulse {
    0%   { background-color: lighten($primary-color, 5%); }
    50%  { background-color: $primary-color; }
    100% { background-color: lighten($primary-color, 5%); }
}

.placeholder {
    animation: pulse 2s infinite ease-in-out;
    &.field-title {
        width: 144px;
        height: 19px;
        margin-top: 3px;
        margin: 10px 0px 4px;
    }
    &.document-number { width: 120px; height: 13px; }
    .cluster-header & { width: 104px; height: 19px; }
    &.subset-button   {
        width: 114px;
        height: 31px;
        border-radius: 50px;
        &.spacing { margin-right: 10px; }
    }
    &.document-table {
        height: $height;
        margin-top: 10px;
    }

}