.login-options {

    margin-top: 50px;
    min-width: 270px;
    text-align: center;
    padding: 50px 0 250px;
    border: 1px solid darken($primary-color, 20%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.19);

    &__header { margin-bottom: 40px; }

    @mixin login-button($color) {
        height: 42px;
        font-family: 'Roboto';
        font-size: 14px;
        font-weight: 500;
        display: inline-block;
        border: 1px solid $color;
        background-color: $color;
        -webkit-transition: background .4s;
        transition: background .4s;
        color: white;
        padding: 0 50px 0 0;
        &:hover,
        &:focus,
        &:active {
            color: white;
            background-color: darken($color, 15%);
        }
    }

    &__text {
        display: inline-block;
        padding-top: 9px;
    }

    &--google {
        @include login-button($tertiary-color);
        img {
            padding: 10px;
            margin-right: 25px;
            background-color: white;
        }
    }
    &--twitter {
        margin-top: 20px;
        @include login-button($quaternary-color);

        .fa-twitter {
            padding: 10px;
            font-size: 20px;
            margin-right: 25px;
            width: 40px;
            height: 40px;
            text-align: center;
        }
    }
}
