Show:
<select id="table-show-limit" onchange={{action 'changeLimit'}}>
  {{#each possibleLimits as |limit|}}
    <option selected={{if limit.selected "selected"}}>{{ limit.value }}</option>
  {{/each}}
</select>