{{#each model.subset.usedBy as |method|}}
  {{#if method.analysisAppropriate}}
    {{ analysis-method method=method subset=model.subset dataset=model.dataset createSubset=(route-action "createSubset") }}
  {{/if}}
{{/each}}

<!-- analysis selection button -->
<div class="row">
  <div class="col-lg-12">
    <a class="method-selection" data-toggle="modal"
      data-target="#select-analysis-modal">
      <div class="content">
        <i class="fa fa-plus fa-3x"></i>
        <p>Select method analysis</p>
      </div><!-- .content -->
    </a>
  </div><!-- .col-lg-12 -->
</div><!-- .row -->

{{ method-selection
  id="select-analysis-modal"
  action=(route-action 'startAnalysis')
  dataset=model.dataset
}}

{{outlet}}