<h3>Clustering KMeans</h3>

{{#each clusters as |cluster index|}}
  <div class="row">
    <div class="col-lg-12">
      <h4>Cluster {{index}}</h4>
    </div>
  </div>
  <div class="row">
    {{#each cluster.aggregates as |aggregate index|}}
      <div class="{{ aggregate.columnSize }}">
        {{ component
            (concat "aggregate-" aggregate.type)
            field=aggregate.field
            distribution=aggregate.distribution
        }}
      </div>
    {{/each}}
  </div>

{{/each}}


{{yield}}