<div class="col-lg-12">
  <a class="method-selection" data-toggle="modal"
    data-target="#select-analysis-modal">
    <div class="content">
      <i class="fa fa-plus fa-3x"></i>
      <p>Select method analysis</p>
    </div>
  </a>
</div>

{{ method-selection-modal id="select-analysis-modal" }}

{{yield}}