<td class="field name">
  <input type="text" class="form-control" value={{field}}>
</td>

<td class="center field type">
  <form class="form-inline">
    <div class="form-group">
      <select class="form-control">
        {{#each fieldTypes as |type|}}
          <option>{{type}}</option>
        {{/each}}
      </select>
    </div>
  </form>
</td>

<td class="center field included">
  <input type="checkbox" checked>
</td>

{{yield}}