{{! document selection checkbox }}
{{#if documentActionsEnabled }}
  <td>
    {{ checkbox-select
      checkboxId=(concat "checkbox-" index)
      checked=selected
      checkboxAction=(action 'selectDocument')
    }}
  </td>
{{/if}}

{{! document values }}
{{#each documentValues as |value|}}
  <td class="{{value.field}} clickable" data-toggle="collapse"
    data-target="{{dataTarget}}">
    {{{value.value}}}
  </td>
{{/each}}